# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


src-tauri/gen

pnpm-lock.yaml
!ssh-terminal-website/pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb

russh*
ssh-terminal-systmssh-impl/
xterm.js*
.qoder
mobile-ssh-terminal/
keystore*

ANDROID_*
adb-install*
build-and-install*
sign*

SCREENSHOT_USAGE*

rustdoc*